<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Misafir Ol</title>
</head>
<body>

<h3>SINIRLI SORUMLU MİSAFİR OL YARDIMLAŞMA FİKRİ MÜLKİYET HAKLARI VE PROJE DANIŞMANLIĞI KOOPERATİFİ
  KİŞİSEL VERİLERİN İŞLENMESİNE İLİŞKİN
  MİSAFİR OL KULLANICISI AYDINLATMA METNİ
</h3>

<p>6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) uyarınca, kişisel verileriniz; veri sorumlusu olarak Sınırlı Sorumlu Misafir Ol Yardımlaşma Fikri Mülkiyet Hakları ve Proje Danışmanlığı Kooperatifi (“Misafir Ol”) tarafından aşağıda açıklanan kapsamda işlenebilecektir.</p>
<p><u><b>Kişisel Verilerin Hangi Amaçlarla ve Hukuki Sebepler ile İşleneceği</b></u></p>
<p>Toplanan kişisel verileriniz, aşağıda yer verilen amaçlar (“<b>Amaçlar</b>”) ve hukuki sebepler ile Kanun’un 5. maddesinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenebilecektir.</p>
<p><b><i>Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması hukuki sebebine dayalı olarak;</i></b></p>
<ul>
  <li>Üyelik talebinizin alınması, üyelik hesabınızın oluşturulması ve işletilmesi,</li>
  <li>Misafir Ol’un destek platformu (“<b>Platform</b>”) üzerinden destek ve/veya ihtiyaç girişi ve yayını yapmanızın sağlanması,</li>
  <li>Platform üzerinden ihtiyacı karşılamanıza veya desteğe başvurmanıza imkan sağlanması, bu kapsamda aracılık faaliyetlerinin gerçekleştirilmesi,</li>
  <li>Desteğinizin ihtiyaç sahibine /size ulaştırılması için gerekli ulaştırma ve organizasyonun sağlanması, tarafınıza bilgi verilmesi,</li>
  <li>Platform’a ve faaliyetlerimize ilişkin olarak destek hizmetlerinin sunulması.</li>
</ul>

<p><b><i>İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla, veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması hukuki sebebine dayalı olarak;</i></b></p>
<ul>
  <li>Platform üzerinden yapılan ihtiyaç veya destek girişlerinin değerlendirilmesi ve onaylanması, </li>
  <li>Desteğe başvurma veya ihtiyacı karşılama işlemlerinin doğrulanması ve onaylanması,</li>
  <li>Gönüllülük ve toplumsal fayda ve birlikteliğin gelişmesine katkı sağlamaya yönelik çalışmaların ve organizasyonların temini, </li>
  <li>Hukuk işlerinin takibi ve yürütülmesi,</li>
  <li>Platform güvenliğinin sağlanması,</li>
  <li>Misafir Ol’un ve Misafir Ol ile iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik, ticari ve iş güvenliğinin temini,</li>
  <li>Platform nezdindeki işlemlerde dolandırıcılık, hukuka aykırı veya aldatıcı işlem gibi hallerin önlenmesi, gerekli tedbirlerin alınması,</li>
  <li>Platform faaliyetlerinin kurgulanması ve icrasına yönelik operasyonel süreçlerin ilgili iş birimlerimiz tarafından gerçekleştirilmesi, organizasyonların yönetimi,</li>
  <li>Raporlama ve Platform iyileştirme ve geliştirme faaliyetlerinin gerçekleştirilmesi.</li>
</ul>

<p><b><i>Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması hukuki sebebine dayalı olarak;</i></b></p>
<ul>
  <li>Talep ve şikayetlerinizin alınması, değerlendirilmesi ve sonuçlandırılması,</li>
  <li>İleride meydana gelmesi muhtemel olası uyuşmazlıklarda delil teşkil etmesi amacı ile kişisel verilerin genel zamanaşımı süresince saklanması.</li>
</ul>

<p><b><i>Kanunlarca açıkça öngörülmesi ve veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması hukuki sebebine dayalı olarak;</i></b></p>
<ul>
  <li>Yetkili kuruluşlara mevzuattan kaynaklı bilgi verilmesi,</li>
  <li>Mevzuatta öngörülen saklama yükümlülüklerine uygunluğun sağlanması,</li>
  <li>Misafir Ol tarafından işlenen kişisel verileriniz ile ilgili olarak Kanun’un 11. maddesinde belirtilen haklarınızın kullanılması kapsamında Misafirim Ol’a iletmiş olduğunuz başvurularınıza ilişkin değerlendirmelerin yapılması ve mevzuata uygun olarak sonuçlandırılması ile bu çerçevede gerekli işlemlerin gerçekleştirilmesi.</li>
</ul>

<p><b><i>Açık rızanızın varlığı halinde ise, açık rızanıza dayalı olarak;</i></b></p>
<ul>
  <li>•	Sağladığınız iletişim bilgisine Misafirim Ol ile ilgili bilgilendirme, tanıtım ve benzeri içerikteki ticari elektronik ileti gönderimlerinin sağlanması. </li>
</ul>

<p><u><b>Kişisel Verilerin Hangi Amaçlarla ve Hukuki Sebepler ile İşleneceği</b></u></p>

<p>Yukarıda yer alan Amaçlar’ın yerine getirilmesi doğrultusunda toplanan kişisel verileriniz; meşru menfaat hukuki sebebine dayalı olarak Platform kapsamındaki işlevlerin ve imkanların tarafınıza sağlanması/sağlanmasına aracılık edilmesi amacıyla Platform paydaşı olan iş ortaklarımıza (yalnızca ilgili amacın yerine getirilmesinde ilgili iş ortağı da size hizmet sağlıyor ise) ve  hizmet aldığımız tedarikçilerimize; kanunlarda açıkça öngörülmesi ve hukuki yükümlülüklerimizin yerine getirilmesi kapsamında kanunen yetkili kamu kurumlarına ve kanunen yetkili özel kişilere, Kanun’un 5. maddesinde belirtilen kişisel veri işleme şartları çerçevesinde Kanun’un 8. maddesinde belirtilen kişisel verilerin aktarılmasına yönelik kurallara uygun olarak aktarılabilecektir.</p>

<p>İş ortaklarımıza www.ihtiyacharitasi.org adresinden ulaşabilirsiniz.</p>

<p><u><b>Kişisel Veri Toplamanın Yöntemi</b></u></p>

<p>Kişisel verileriniz, yukarıda yer verilen Amaçlar’ın yerine getirilmesi kapsamında elektronik ortamda çevrim içi katılım formları, internet sitesi, sosyal medya mecraları, telefon ve e-posta kanalları üzerinden toplanmaktadır.</p>

<p><u><b>İlgili Kişinin Kanun’un 11. Maddesinde Sayılan Hakları</b></u></p>

<p>Kişisel verilerinize ilişkin olarak Kanun’un 11. maddesi uyarınca aşağıdaki haklara sahip olduğunuzu bildiririz:</p>

<ul>
  <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme,</li>
  <li>Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,
  </li><li>Kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
  <li>Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,
  </li><li>Kişisel verilerinizin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
  <li>Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerinizin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
  <li>İşlenen verilerinizin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun ortaya çıkmasına itiraz etme,</li>
  <li>Kişisel verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme. </li>

  <p>Talebinizin niteliğine göre en kısa sürede ve en geç otuz gün içinde başvurularınız ücretsiz olarak sonuçlandırılacaktır; ancak işlemin ayrıca bir maliyet gerektirmesi halinde Kişisel Verileri Koruma Kurulu tarafından belirlenecek tarifeye göre tarafınızdan ücret talep edilebilecektir.</p>





</ul></body>
</html>